<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alappuzha Tourist Places</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body class="district-bg">


  <header>
    <h1>Alappuzha - Tourist Places</h1>
  </header>

  <main class="place-gallery">

    <!-- Tourist Place 1 -->
    <div class="place-card">
      <img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4nqeslhaM6NW2Rs-j-rU7Nfq9BNuXb6wYxqM-0EzL0A2fq6BafzufCHEePghS3Audazj0nfZ0q9RRaCsLZ4Hc4mdrJnZHIEccB18idADJiTcAIo48oT1D8EX4N-SWd8vK85hHI1q6Q=s1360-w1360-h1020-rw" alt="Alappuzha Light House">
      <div class="place-info">
        <h2>Alappuzha Light House</h2>
        <p><strong>Address:</strong> CCSB Rd, Civil Station Ward, Alappuzha, Kerala 688012</p>
      </div>
    </div>

    <!-- Tourist Place 2 -->
    <div class="place-card">
      <img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4nqWpeHuJfAQcd0RgBF2Vaa6ZMtT88WrkOQYckP-WfYnE1m5PG_OwNGWLA8Ajffiwd_ARf6MlcYQ4_cPCAScAGYx1-vF3cwPxfN0lhPsc_cJLPPzGO0Crfiz1KSHy-_HxS1siooR=s1360-w1360-h1020-rw" alt="Cochin: Alleppey Backwater ">
      <div class="place-info">
        <h2>Revi Karunakaran Memorial Museum</h2>
        <p><strong>Address:</strong> oat Jetty Rd, near Boat Jetty, Finishing Point, Alappuzha, Kerala 688006</p>
      </div>
    </div>
  <!-- Tourist Place 3 -->
    <div class="place-card">
      <img src="https://media-cdn.tripadvisor.com/media/attractions-splice-spp-674x446/06/74/7d/4e.jpg" alt="Revi Karunakaran Memorial Museum">
      <div class="place-info">
        <h2>Alappuzha Backwaters and House Boat</h2>
        <p><strong>Address:</strong> XVIII/990-A, VCSB Road, near Power House Bridge, Alappuzha, Kerala 688012</p>
      </div>
    </div>

    <!-- Tourist Place 4 -->
    <div class="place-card">
      <img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4nq_-5wd3trsy-DjXMLB0rhkrCzoVgo11uSmA7qZJuVoCVRd1HRJqBA5Y6wVcrE7I9ldeHPPKqYzZEOxEJas_SsODX4vLSNdZWQyAWdqRuckwjiy7NMb3ew7llEuyFI_JtZzVB6NVA=s1360-w1360-h1020-rw" alt="Alappuzha Beach ">
      <div class="place-info">
        <h2>Marari Beach</h2>
        <p><strong>Address:</strong> Alappuzha (Alleppey), in the state of Kerala, India</p>
      </div>
    </div>
  </main>

</body>
</html>
