<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Kasaragod Tourist Places</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body class="district-bg">


  <header>
    <h1>Kasaragod - Tourist Places</h1>
  </header>

  <main class="place-gallery">

    <!-- Tourist Place 1 -->
    <div class="place-card">
      <img src=" https://www.keralatourism.org/_next/image/?url=http%3A%2F%2F127.0.0.1%2Fktadmin%2Fimg%2Fpages%2Fvertical%2Fkollam-beach-1727247765_a379e3366f46254d6007.webp&w=3840&q=75 " alt="Nellikunnu Beach">
      <div class="place-info">
        <h2>Nellikunnu Beach</h2>
        <p><strong>Address:</strong>2km from Nellukunnu Kasaragod Town, Kasaragod, Kerala 671121</p>
      </div>
    </div>

    <!-- Tourist Place 2 -->
    <div class="place-card">
      <img src="https://www.keralatourism.org/kasaragod/investment/images/top-attraction/large/valiyaparamba.jpg" alt="Valiyaparamba Backwater ">
      <div class="place-info">
        <h2>Valiyaparamba Backwater </h2>
        <p><strong>Address:</strong> 10km south of Nileswaram , Kasaragod, Kerala 671572</p>
      </div>
    </div>
  <!-- Tourist Place 3 -->
    <div class="place-card">
     <img src= "https://static.toiimg.com/photo/53095543.cms " alt="Bekal fort">
      <div class="place-info">
        <h2>Bekal fort</h2>
        <p><strong>Address:</strong>  Beside Bekal fort railway station, Kasaragod, Kerala 671316</p>
      </div>
    </div>

    <!-- Tourist Place 4 -->
    <div class="place-card">
      <img src="  https://cdn.tripuntold.com/media/photos/location/2020/08/29/9ff3cd45-0e1a-4905-820d-f7f5c409660a.jpg " alt="Kottancheri Hills ">
      <div class="place-info">
        <h2> Kottancheri Hills </h2>
        <p><strong>Address:</strong> Close to Brahmagiri hills, Kasaragod, Kerala, 671315</p>
      </div>
    </div>
  </main>

</body>
</html>