<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kottayam Tourist Places</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body class="district-bg">


  <header>
    <h1>Kottayam - Tourist Places</h1>
  </header>

  <main class="place-gallery">

    <!-- Tourist Place 1 -->
    <div class="place-card">
      <img src="https://lh3.googleusercontent.com/p/AF1QipM_MYvkH9d0PAWgWTdtKH3EYqCfRhFR7LaWDyV5=s294-w294-h220-n-k-no"alt="Kattikkayam Waterfalls">
      <div class="place-info">
        <h2>Kattikkayam Waterfalls</h2>
        <p><strong>Address:</strong>Pazhukkakanam Rd, Poonjar Vadakkekara, Kerala 686652 </p>
      </div>
</div>

    <!-- Tourist Place 2 -->
    <div class="place-card">
      <img src="https://lh3.googleusercontent.com/p/AF1QipOzk4vrvEsatcQpGt8gbkcZp8ED8CKc9ETN_MkC=s294-w294-h220-n-k-no" alt="Illikkal Kallu">
      <div class="place-info">
        <h2>Illikkal Kallu</h2>
        <p><strong>Address:</strong> Illikkal Kallu Rd, Moonnilavu, Poonjar Vadakkekara, Kerala 686586</p>
      </div>
    </div>
  <!-- Tourist Place 3 -->
    <div class="place-card">
      <img src="https://lh3.googleusercontent.com/gpms-cs-s/AB8u6HZZXDRrfRyyfH4ah0pGTcSdt6QDNa7R0kwE9YhtmHpU1BVufnTiw87du4M-SvnXJeqT6DaZXpKr94Ui-aqjoQKaxxYEomBkp1LiFt_RvXsGCohQRzSM_EFavUJJm8EE8t9g-zBQ=s294-w294-h220-n-k-no" alt="Mango Meadows Agricultural Theme Park">
      <div class="place-info">
        <h2>Mango Meadows Agricultural Theme Park</h2>
 <p><strong>Address:</strong> P.O, Ayamkudy-Kaduthuruthy Road BUILDING NO. XV/175 A, AYAMKUDI, Kaduthuruthy, Kerala 686613</p>
      </div>
    </div>
  <!-- Tourist Place 4 -->
    <div class="place-card">
      <img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4noUv-haqkTZQ6CItwMiSm2GrIvNGzw80cJqNMC0egHOyVZNlQclURbXTUBxCR3mfLKuq9L0dI7DGw2OF_C4eSAceTXkazJDSUMFdTfGv5TmthVC2eqLqSg9kGs6a7R7v8FQJVtc=s1360-w1360-h1020-rw" alt="Ilaveezhapoonchira">
      <div class="place-info">
        <h2>Ilaveezhapoonchira</h2>
        <p><strong>Address:</strong> Melukavu village in Kottayam district near Kanjar</p>
      </div>
    </div>
  </main>

</body>
</html>