<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kozhikode Tourist Places</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body class="district-bg">


  <header>
    <h1>Kozhikode - Tourist Places</h1>
  </header>

  <main class="place-gallery">

    <!-- Tourist Place 1 -->
    <div class="place-card">
      <img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4nprvi-IFiiqwUPEG_aAUYPJi02bp25nS_FlZD4J6KD0WHDQvwGnIruRxvwUfdTF3n1wGCkWqID19gRu6ezi48mSLGwhgThnL4-vU3cBjTzlJtT455QsDSiAs866urzr-qHrKd9_=s220-w165-h220-n-k-no" alt="Kozhippara Waterfalls">
      <div class="place-info">
        <h2>Kozhippara Waterfalls</h2>
        <p><strong>Address:</strong>9435+G3Q, Kozhippara Rd, Kerala 679334 </p>
      </div>
    </div>

    <!-- Tourist Place 2 -->
    <div class="place-card">
      <img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4nqWNPOFaMFEWrdJWeKgPhYndoucA51146BDOjumsk7eUhlWF5lhoFEBnL-dWgkbhNe5VqOZvZuiFRwHOY9TPLb_4N4bDK-YGaql89UCC5miEzDFTrVCBKH3RIEnKZRH89YaZ41N=s294-w294-h220-n-k-no" alt="Kappad ">
      <div class="place-info">
        <h2>Kappad</h2>
        <p><strong>Address:</strong> near Koyilandy, in the Kozhikode district, Kerala, India</p>
      </div>
    </div>
  <!-- Tourist Place 3 -->
    <div class="place-card">
      <img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4nqPDKP6NT67tqATegUp3COc9FEGkl_lwSKE5Z7ovIFQFgTHa7jbCDJsM0BlC4sSzTFUnpAjY5slk1JrDlHQclba4fGuYE33nOwpIKs5KZnISPJeFAsB8SbUtF0zpM2Bp4MsuczbVA=s294-w294-h220-n-k-no" alt="Kariyathumpara">
      <div class="place-info">
        <h2>Kariyathumpara</h2>
        <p><strong>Address:</strong> Kakkayam Rd, Kozhikode 673615 India</p>
      </div>
    </div>

    <!-- Tourist Place 4 -->
    <div class="place-card">
      <img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4no2fNyWlCdIVdwMRlgN6i5nYU670NWREqpw8eRZcdQYl-PaOBm5xnsali_nWLFR066Sj2KsrJRbzPon15HTAwIloZ8IlFdX7T6KShV-98ZhzhHZHvSk_-gYtq_UdG9_AGyjhzZh=s294-w294-h220-n-k-no" alt="Kozhikode Beach ">
      <div class="place-info">
        <h2>Kozhikode Beach</h2>
        <p><strong>Address:</strong>located on the western side of Kozhikode city in the state of Kerala, India</p>
      </div>
    </div>
  </main>

</body>
</html>