<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alappuzha Tourist Places</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body class="district-bg">


  <header>
    <h1>Malappuram Tourist Places</h1>
  </header>

  <main class="place-gallery">

    <!-- Tourist Place 1 -->
    <div class="place-card">
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/06/d3/5a/90/kumaragiri-farm-nature.jpg?w=1400&h=800&s=1"alt="Kumaragiri Farm & Nature Camp">
      <div class="place-info">
        <h2>Kumaragiri Farm & Nature Camp</h2>
        <p><strong>Address:</strong> Kumaragiri Estates, Kumaragiri Estate Road, Koottil, Mankada, Perinthalmanna, Malappuram District, Kerala, 679324</p>
      </div>
</div>

    <!-- Tourist Place 2 -->
    <div class="place-card">
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0e/10/4b/77/entrance-of-the-temple.jpg?w=1400&h=-1&s=1" alt="Kadampuzha Bhagavathy Temple">
      <div class="place-info">
        <h2>Kadampuzha Bhagavathy Temple</h2>
        <p><strong>Address:</strong>Melmuri, Kadampuzha, Kerala 676553</p>
      </div>
    </div>
  <!-- Tourist Place 3 -->
    <div class="place-card">
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0c/41/2b/2d/snset-from-padinjarekkara.jpg?w=1400&h=-1&s=1" alt="Padinharekara Beach">
      <div class="place-info">
        <h2>Padinharekara Beach</h2>
 <p><strong>Address:</strong> Tipu Sultan Road in Tirur, Malappuram district,676562 </p>
      </div>
    </div>
  <!-- Tourist Place 4 -->
    <div class="place-card">
      <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1d/b1/54/65/teak-museum-nilambur.jpg?w=800&h=-1&s=1" alt="Nilambur Teak Museum">
      <div class="place-info">
        <h2>Nilambur Teak Museum</h2>
        <p><strong>Address:</strong> 8722+25V, SH28, Nilambur, Kerala 679330</p>
      </div>
    </div>
  </main>

</body>
</html>