<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Palakkad Tourist Places</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body class="district-bg">


  <header>
    <h1>Palakkad- Tourist Places</h1>
  </header>

  <main class="place-gallery">

    <!-- Tourist Place 1 -->
    <div class="place-card">
      <img src="  https://lh3.googleusercontent.com/gps-cs-s/AC9h4nrfeP01mPfj8IhwL02-mJn-hL_PW63_coa_8HqM9RTL9VX3F6UyJh77b3iPE4mc7X6MHNkiG4j8DCvwbgQ7qjz0XlBvM7gULTPQFkYPJBECHD3_NX5POYJmydc_2WglyCQ2_MN8=s1360-w1360-h1020-rw" alt="Silent valley Nationalpark">
      <div class="place-info">
        <h2> Silent valley Nationalpark</h2>
        <p><strong>Address:</strong>it's  situated in the Nilgiri Hills ,Palakkad, Kerala, 678582 </p>
      </div>
    </div>

    <!-- Tourist Place 2 -->
    <div class="place-card">
      <img src=" https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0b/89/e3/1c/keshavapara-nelliyampathy.jpg?w=1400&h=-1&s=1 " alt="Nelliyampathi">
      <div class="place-info">
       <h2> Nelliyampathi </h2>
        <p><strong>Address:</strong>60 kilometres (37 mi) from Palakkad,Palakkad, Kerala, 678508 </p>
      </div>
    </div>
  <!-- Tourist Place 3 -->
    <div class="place-card">
    <img src=" https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/3a/d3/ce/20201024-110128-largejpg.jpg?w=1400&h=800&s=1 " alt="Pothundi Dam">
      <div class="place-info">
        <h2>Pothundi Dam</h2>
        <p><strong>Address:</strong> it's situated near the town of Nenmara and is about 35 km from Palakkad town, Kerala,678508</p>
      </div>
    </div>

    <!-- Tourist Place 4 -->
    <div class="place-card">
      <img src=" https://upload.wikimedia.org/wikipedia/commons/d/dd/Kollemkode_palace%2C_Chembookkavu%2C_Thrissur%2C_Kerala%2C_India_IMG_20191109_173239.jpg  " alt="Kollenkode palace">
      <div class="place-info">
        <h2>Kollenkode palace  </h2>
        <p><strong>Address:</strong>it is located in the town of Kollengode, in the Palakkad, Kerala,678506,</p>
      </div>
    </div>
  </main>

</body>
</html>