<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Thrissur Tourist Places</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body class="district-bg">


  <header>
    <h1>Thrissur - Tourist Places</h1>
  </header>

  <main class="place-gallery">

    <!-- Tourist Place 1 -->
    <div class="place-card">
      <img src="  https://encrypted-tbn3.gstatic.com/licensed-image?q=tbn:ANd9GcRGmsR9-2W3RS9HOE6SG0-kTHo_501A8LyVq6I_v63uTA1vkm61sPDrOtDbPP1V1cN7m0FghiidP91V8JZ_fEnPSjGRfrz2EzpVMZ06eQ" alt="Athirappilly waterfalls">
      <div class="place-info">
        <h2> Athirappilly waterfalls</h2>
        <p><strong>Address:</strong> it's located in Athirappilly panchayat, Chalakudy Taluk, Thrissur District, Kerala, 680721 </p>
      </div>
    </div>

    <!-- Tourist Place 2 -->
    <div class="place-card">
      <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZq0jbg2WRvNXiLKBaTatYzxWd4hWyvGX6ceYTtLK7iMT6xF15VtJFRA5f7Q8i_3zkukg&usqp=CAU " alt="Snehatheeram Beach ">
      <div class="place-info">
       <h2>  Snehatheeram Beach</h2>
        <p><strong>Address:</strong>it's located on Thambankadavu Beach Road in Thalikulam, Thrissur, Kerala, 680566 </p>
      </div>
    </div>
  <!-- Tourist Place 3 -->
    <div class="place-card">
    <img src=" https://www.dtpcthrissur.com/uploads/picture_gallery/gallery_images/peechi-dam5-20230426163634766342.webp" alt="Peechi Dam">
      <div class="place-info">
        <h2>Peechi Dam</h2>
        <p><strong>Address:</strong>it's located in Peechi, Thrissur District, Kerala, 680653. </p>
      </div>
    </div>

    <!-- Tourist Place 4 -->
    <div class="place-card">
      <img src=" https://lh3.googleusercontent.com/gps-cs-s/AC9h4nqPCU6yEtRpuMe8vOG5tuGDbnFUg2b6BH1JlYopDEauDfMKftalwMR0TiJT9A3Rw2MDrV48Xrtn3PZpi_3SDLHUz2E3Wt19D84yJJeKAM8eNMDNjH4mqxX-4tC3JSL4owI7X-D6=s1360-w1360-h1020-rw" alt="Vadakkumnathan Temple">
      <div class="place-info">
        <h2>Vadakkumnathan Temple  </h2>
        <p><strong>Address:</strong>Swaraj Round N, Thekkinkadu Maidan, Thrissur, Kerala, India, with the pincode 680001</p>
      </div>
    </div>
  
    <div class="place-card">
      <img src="https://lh3.googleusercontent.com/gpms-cs-s/AB8u6Hbq8dsWZKp0uAZINM1CiiwVQHhH-djiR9Bs2Coc1WG3gJTp3GDOJAaTxw3xLt75Aq0Uqk5PjujI6J-Zk1UZuWqnp0QlQVgu-zNBsAmkJV_hUvQoNhCrnoghQr_Bmun2j8-3rhZw4A=s294-w294-h220-n-k-no" alt="ghgtfttr">
      <div class="place-info">
        <h2>ghgtfttr</h2>
        <p><strong>Address:</strong> ddddfghjhhuuyyuy</p>
      </div>
    </div>
    
</main>

</body>
</html>