<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thiruvananthapuram Tourist Places</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body class="district-bg">


  <header>
    <h1>Thiruvananthapuram - Tourist Places</h1>
  </header>

  <main class="place-gallery">

    <!-- Tourist Place 1 -->
    <div class="place-card">
      <img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4npv-hWpT1HpVMVzx_SXbgNfIbOfIjMLi15dBqRqTt751iL9Ye9I8E_eB785AE79y4J2pOp__MZX3j0EpDQMWmplzDESYh1Q4p_z1ymRry1RMmshOuA7qyH1m_pc9jLZoOznPsba=s1360-w1360-h1020-rw" alt="Sree Padmanabhaswamy Temple">
      <div class="place-info">
        <h2>Sree Padmanabhaswamy Temple</h2>
        <p><strong>Address:</strong> West Nada, Fort, East Fort, Pazhavangadi, Thiruvananthapuram, Kerala 695023</p>
      </div>
    </div>

    <!-- Tourist Place 2 -->
    <div class="place-card">
      <img src="https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcQWQyn_tPwY9-gCNdYWzzUX00V1TvBmkIN2i3xirb-Wy52pNaSGsJslrvUVb9hXN01ynM82mIqAVE7KMtwlmCJbo4HI6c4g" alt="Kovalam Beach Trivandrum ">
      <div class="place-info">
        <h2>Kovalam Beach Trivandrum</h2>
        <p><strong>Address:</strong> 9XQG+8FR, Light House Beach Rd, Kovalam, Thiruvananthapuram, Kerala 695527</p>
      </div>
    </div>
  <!-- Tourist Place 3 -->
    <div class="place-card">
      <img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4nq942YYkTzHcKstHxFpqHAsonSBAzBxA4MZ-Lw6_eLBlZ1BPzcmJ44GJVI8IFONjUXMH8UyV3yJRrSHgUJq1GppUz26-eFRoBohhWT4XCSSALgxJx9157ZebWsmVfVVXdfpIL1MUg=s1360-w1360-h1020-rw" alt="Napier Museum">
      <div class="place-info">
        <h2>Napier Museum</h2>
        <p><strong>Address:</strong> Museum Road, Viceregal Bungalow, Thiruvananthapuram, Kerala, 695004.</p>
      </div>
    </div>

    <!-- Tourist Place 4 -->
    <div class="place-card">
      <img src="https://travelsetu.com/apps/uploads/new_destinations_photos/destination/2023/12/15/2fdbfbaa7a71e0066a8596736e03caa8_1000x1000.jpg" alt="Kanakakunnu Palace ">
      <div class="place-info">
        <h2>Kanakakunnu Palace</h2>
        <p><strong>Address:</strong> Jawahar Nagar, Kowdiar, Thiruvananthapuram, Kerala, 695003.</p>
      </div>
    </div>
  </main>

</body>
</html>
