<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wayanad Tourist Places</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body class="district-bg">


  <header>
    <h1>Wayanad - Tourist Places</h1>
  </header>

  <main class="place-gallery">

    <!-- Tourist Place 1 -->
    <div class="place-card">
      <img src="https://c8.alamy.com/comp/2RRR2DA/thusharagiri-falls-is-a-waterfall-located-in-kozhikode-district-in-the-indian-state-of-kerala-india-23-september-2023-2RRR2DA.jpg " alt="Thusharagiri Waterfalls">
      <div class="place-info">
        <h2>Thusharagiri Waterfalls</h2>
        <p><strong>Address:</strong> Western ghats mountain range ,Wayanad, Kerala 673586</p>
      </div>
    </div>

    <!-- Tourist Place 2 -->
    <div class="place-card">
      <img src=" https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Wayanad_Wild_Life_Sanctuary.JPG/500px-Wayanad_Wild_Life_Sanctuary.JPG" alt="Wildlife Sanctuary ">
      <div class="place-info">
        <h2>Wildlife Sanctuary</h2>
        <p><strong>Address:</strong> Bathery-puthupally, Wayanad, Kerala 673592</p>
      </div>
    </div>
  <!-- Tourist Place 3 -->
    <div class="place-card">
      <img src="https://lh3.googleusercontent.com/gps-cs-s/AC9h4nrBpCrXoibB5jOgtpUHGHPeCjx_uPex-3FdMQbbBONG8mofcDvRAOL--TKclYpDeZqvBTUYk6PTlyuNGbbRi5FrUqUhFmnrP7fg7x1KvuQWyR9p59tWZylD9bqYynXGDYFYWyQZ=w270-h312-n-k-no " alt=" Edakkal Caves">
      <div class="place-info">
        <h2>Edakkal Caves</h2>
        <p><strong>Address:</strong> Approximately 10Km from Sulthan Bathery , Wayanad, Kerala 673593</p>
      </div>
    </div>

    <!-- Tourist Place 4 -->
    <div class="place-card">
      <img src="https://encrypted-tbn3.gstatic.com/licensed-image?q=tbn:ANd9GcS1oAFTwB_7kIiSF094zdqRya9dkF8QnWjbGklOXpuJciNMy3RS3wCErkC3gR_WrAPdQ6A1igHOY2d96asZTBuiCmKQ0fa3nGilIBAADg" alt="Chembra Peak ">
      <div class="place-info">
        <h2>Chembra Peak</h2>
        <p><strong>Address:</strong>8Km from Meppadi, Wayanad, Kerala, 673577</p>
      </div>
    </div>
  </main>

</body>
</html>